
.firstPath {
  padding: 40px;
  // background-color: pink;
}

.firstPathHeader {
  text-align: center;
  font-size: 9px;
}

.linksToPath {
  border: 1px solid black;
  padding: 40px;
  list-style-type: none;
  height: 20em;
}

a {
  text-decoration: none;
}