<div class="firstPath">
  <div class="firstPathHeader"><h1>Thanks for visiting! <br></h1>
    <p>We wanted to get your feedback about a new commuting program that will affect your community. From the menu below, please select where we can guide you.</p></div>
  <ul class="linksToPath"><br><br>
    <li><a ng-href="/moreInfo">What is Bikeshare?</a></li><br><br>
    <li><a ng-href="/benefits">I know about Bikeshare, just not sure if my community needs it.</a></li><br><br>
    <li><a ng-href="/siteMap">Bikeshare is awesome! Are there stations near me?</a></li><br><br>
  </ul>
</div>