<div class="firstPath">
  <div class="firstPathHeader"><h1>Thanks for visiting, <br> how can we assist you?</h1></div>
  <ul class="linksToPath"><br><br>
    <li><a ng-href="/moreInfo">What is Bikeshare?</a></li><br><br>
    <li><a ng-href="/benefits">I know about Bikeshare, I'm just not sure if my community needs it.</a></li><br><br>
    <li><a ng-href="/siteMap">I know about Bikeshare and would like to see if there's stations near me.</a></li><br><br>
    <li><a ng-href="/feedback">I want to leave a feedback.</a></li>
  </ul>
</div>